.Machine{
    color:red;
    border-bottom: 1px solid #ff5500;
    text-align: center;
    padding: 5px 0;
}

.Header{
    font-weight:800;
    color:red;
}

.Footer{
    font-weight:800;
    color:red;
}
